{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
  {{ super() }}
  Welcome
{% endblock title %}

{% block content %}
  {% if username %}
    <h1>Bienvenido {{ username | capitalize }}</h1>
  {% endif %}

  <div class="container">
    <h2>Crear nueva tarea</h2>
    {{ wtf.quick_form(task_form) }}
  </div>

  <ul class="list-group">
    {% for task in tasks %}
      {{ macros.render_task(task, update_form, delete_form) }}
    {% endfor %}
  </ul>

{% endblock content %}