{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}
  {{ super() }}
  Welcome
{% endblock title %}

{% block content %}
  {% if username %}
    <h1>Bienvenido {{ username | capitalize }}</h1>
  {% endif %}

  {% if user_ip %}
    <h3>Hola, tu IP es {{ user_ip }}</h3>
  {% else %}
    <a href="{{ url_for('index') }}">Ir a inicio</a>
  {% endif %}

  <ul>
    {% for to_do in to_do_list %}
      {{ macros.render_to_do(to_do) }}
    {% endfor %}
  </ul>
{% endblock content %}